body > header {
  height: 400px;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 120px;
  background-color: #bf6f76;
  background-image: url(../images/low-contrast-linen.png);
  background-repeat: repeat;
  color: white;
}
