body > header {
  height: 400px;
  width: 100%;
  margin: auto;
  background-color: lemonchiffon;
  text-align: center;
  margin: auto;
  position: relative;
  top: 120px;
  background-color: #020005;
  background-image: url(../images/foggy-birds.png);
  background-repeat: repeat;
  color: white;
}
