nav {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  background-color: #090526;
  color: #FFFF;
  height: 120px;
  z-index: 1000;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 35px;
}

.reveal-tweet {
  color: crimson;
  position: relative;
  left: 50%;
  cursor: pointer;
  background-color: none;
}