.new-tweet {
  margin: 5% auto;
}

.new-tweet > h2 {
  color: #090526;
}

.new-tweet textarea {
  width: 100%;
  background-color: inherit;
  border: 0px solid;
  border-bottom: 5px solid #594251; 
  color: grey;
  font-weight: 700;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet form input{
  background-color: #090526;
  color: #FFFF;
  font-weight: 700;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
}

.counter {
  font-family: 'Bungee', cursive;
  color: grey;
  float: right;
}

.new-tweet .error-msg * {
  color: red;
}

.new-tweet .error-msg p {
  border: solid red 3px;
  padding: 0.5em 1em;
}

/* This class only gets added if the char count goes over 140 characters */
.turn-red{
  color: red;
}

@media only screen and (max-width: 440px) {
  .new-tweet h2 {
    font-size: 30px;
  }
}